body {
  min-width: 320px;
  // font-size: $font-size;
  // line-height: $line-height;
  // font-family: $font-stack;
}

.content {
  box-sizing: border-box;
  background-color: $grey-color;
}

@media (min-width: $screen_md) {
  .content {
    padding: 20px;
  }

  .content--active {
    margin-left: 50%;
    width: 50%;
  }
}
