.booking {

  &__top {
    background-color: $blue-color;
    color: white;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__contacts {
    display: none;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-left: 10%;
  }

  &__user-ava {
    flex-basis: 30%;
    margin-right: 20px;
  }

  &__user-ava img {
    width: 60px !important;
    height: 60px !important;
  }

  &__user-name {
    flex-basis: 70%;
    flex-grow: 1;
  }

  &__user p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
  }

  &__user small {
    font-size: 14px;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
  }

  &__info {
    background-color: white;
  }

  &__info svg {
    fill: $grey-icon-color !important;
  }
}

@media (min-width: $screen_md) {
  .booking {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    //max-width: 350px;
    margin-right: 3%;
    border-radius: 4px;

    &__top {
      position: relative;
      z-index: 10;

      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 4px;
      background: url('https://pp.vk.me/c630231/v630231081/32d68/2DvHIqH67GE.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &__top::before {
      content: '';
      position: absolute;
      border-radius: 4px;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(69, 77, 149, 0.4);
    }

    &__nav {
      display: none;
    }

    &__contacts {
      display: block;
      margin-bottom: 20px;
      position: relative;
      z-index: 10;
      text-align: right;
    }

    &__contacts-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      width: 40px;
      height: 40px;
    }

    &__contacts-more {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }

    &__user {
      position: relative;
      z-index: 10;
    }

    &__user-ava {
    }

    &__user-name {
    }

    &__actions {
      position: relative;
      z-index: 10;
      padding: 0;
    }

    &__info {
      border-radius: 4px;
    }
  }
}
