.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $blue-color;
  padding-bottom: 5px;

  &__title {
    flex-grow: 1;
    margin: 0;
    margin-top: 8px;
    padding-top: 0;
    height: 22px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
  }

  &__title h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 22px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
  }

  &__search {
    order: 5;
    margin-top: 8px;
    margin-right: -16px;
  }

  &__search input {
    display: none;
  }

  &__notification {
    order: 4;
    margin-top: 8px;
  }

  &__more {
    display: none;
  }
}

@media (min-width: $screen_md) {
  .header {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // background-color: $blue-color;
      padding-bottom: 10px;

    &__title {
      // flex-basis: 5%;
      flex-grow: 0;
      margin-right: 20px;

      // margin-top: 8px;
      // height: 22px;
    }

    &__title h1 {
      // font-size: 24px;
      // line-height: 22px;
    }

    &__search {
      flex-basis: 80%;
      order: 3;
      flex-grow: 1;
      margin-right: 20px;
      max-width: 80%;
    }

    &__search input {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      padding: 5px;
      padding-left: 50px;
      width: 100%;

      border: none;
      border-radius: 4px;
      background-color: #448aff;
      color: white;
    }

    &__search input::before {
      content: '11';
      position: absolute;
      width: 20px;
      height: 20px;
    }

    &__notification {
      //flex-basis: 5%;
      order: 4;
    }

    &__more {
      //flex-basis: 5%;
      display: block;
      margin-top: 8px;
      order: 5;
    }
  }
}
