.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
  background-color: $blue-color !important;
  box-shadow: none !important;

  &__title {
    flex-grow: 1;
    margin: 0;
    margin-top: 8px;
    padding-top: 0;
    height: 22px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
  }

  &__title h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
  }

  &__search {
    order: 5;
    margin-top: 8px;
    margin-right: -16px;
  }

  &__search-btn {

  }

  &__search input {
    display: none;
  }

  &__notification {
    order: 4;
    margin-top: 8px;
  }

  &__more {
    display: none;
  }
}

@media (min-width: $screen_md) {
  .header {
    box-shadow:
      rgba(0, 0, 0, 0.117647) 0px 1px 6px,
      rgba(0, 0, 0, 0.117647) 0px 1px 4px
      !important;
    padding-bottom: 10px !important;
    margin-bottom: 25px;

    &--nav-open {
      width: 80% !important;
      margin-left: 20% !important;
    }

    &--nav-open > div:first-child {
      margin-right: 68px !important;
    }

    &__hamburger {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &__title {
      flex-grow: 0;
    }

    &--nav-open .header__title {
      display: none;
    }

    &__search {
      flex-basis: 75%;
      margin-right: auto;
      margin-left: auto;
      order: 3;
      flex-grow: 0;
    }

    &__search-btn {
      display: none !important;
    }

    &__search input {
      display: inline-block;
      box-sizing: border-box;
      padding: 10px;
      padding-left: 50px;
      width: 100%;

      border: none;
      border-radius: 4px;
      background-color: #448aff;
      color: white;
      font-family: $font-family;
      font-size: 14px;
    }

    &__notification {
      order: 4;
    }

    &__more {
      display: block;
      margin-top: 8px;
      order: 5;
    }
  }
}
